* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #000000;
}

@keyframes colorChange {
    0% {
        color: #24dcdc;
    }
    25% {
        color: #24dcdc;
    }
    50% {
        color: #ffffff;
    }
    75% {
        color: orange;
    }
    100% {
        color: orange;
    }
}

@keyframes fadeOut {
    0% {
        height: 100vh;
    }
    25% {
        height: 100vh;
    }
    50% {
        height: 100vh;
    }
    75% {
        height: 100vh;
    }
    100% {
        height: 0;
        display: none;
    }
}

#start-screen {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
    animation: fadeOut 5s forwards;
}

#start-screen #start-title {
    width: 70vw;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    margin-top: 45vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; 
}

#start-screen #start-subtitle {
    width: 70vw;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    position: absolute;
    margin-top: 85vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; 
}

#start-screen #start-color {
    animation: colorChange 4s infinite alternate;
}

canvas {
    height: 100vh;
    width: 100vw;
}

canvas:hover {
    cursor: pointer;
}

canvas:hover:active {
    cursor: move;
    cursor: grab;
}

#canvas-container #hotbar {
    z-index: 999;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-top: 17vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#canvas-container #hotbar ul {
    display: flex;
    flex-direction: row;
}

#canvas-container #hotbar ul li {
    border-color: transparent;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    width:  60px;
    padding: 10px;
    margin: 20px;
    background-color: #a8a8a825;
}

#canvas-container #hotbar ul li:hover {
    animation: highlight .5s forwards;
    cursor: pointer;
}

.progress-bar-container #progress-bar {
    z-index: 999;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 80vw;
}

/*
#canvas-container #interact #options-button {
    margin: 15px;
    padding: 10px;
    width: 12px;
    height: 12px;
    z-index: 999;
    background-color: #ffffff;
    border-color: transparent;
    border-radius: 20px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
}
*/

#canvas-container .credits {
    z-index: 999;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    margin-top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 90vw;
}

.credits #butterflies-credits {
    display: none;
}

.credits #blackhole-credits {
    display: none;
}

.credits #earth-credits {
    display: none;
}

.credits #gits-credits {
    display: none;
}

.credits #butterflies-credits a:first-of-type {
    color: aqua;
    /*font-family: 'Homemade Apple', 'Montserrat', sans-serif;*/
}

.credits #blackhole-credits a:first-of-type {
    color: aqua;
    /*font-family: 'Mulish', 'Montserrat', monospace;*/
}

.credits #earth-credits a:first-of-type {
    color: aqua;
    /*font-family: 'DM Serif Display', 'Montserrat', monospace;*/
}

.credits #gits-credits a:first-of-type {
    color: aqua;
    /*font-family: 'Kode Mono', 'Montserrat', sans-serif;*/
}

.credits a:first-of-type:hover {
    color: orange;
    font-weight: 700;
}

.credits a:last-of-type {
    color: orange;
}

.credits a:last-of-type:hover {
    color: aqua;
    font-weight: 700;
}

.footer {
    z-index: 999;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    position: absolute;
    margin-top: 85vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.footer a {
    color: #ffffff;
    text-decoration: underline;
}

.footer a:hover {
    font-weight: 700;
}

.footer span {
    font-weight: 800;
}

@keyframes highlight {
    0% {
        filter: hue-rotate(0deg);
        filter: drop-shadow(0px 0px 5px transparent);
    }
    100% {
        filter: hue-rotate(-120deg);
        filter: drop-shadow(0px 0px 8px #ffffff);
    }
}

@media (max-width: 768px) {
    #start-screen #start-title {
        margin-top: 40vh;
        font-size: 25px;
    }

    #canvas-container .credits {
        font-size: 10px;
    }

    .footer {
        font-size: 10px;
        margin-top: 85vh;
    }

    #start-screen #start-subtitle {
        font-size: 10px;
    }

    #canvas-container #hotbar {
        margin-top: 20vh;
    }

    #canvas-container #hotbar ul li {
        border-radius: 10px;
        font-size: 10px;
        width: 35px;
        padding: 6px;
        margin: 12px;
    }

    #canvas-container #hotbar ul li img {
        width: 30px;
    }
}

::-webkit-scrollbar {
    width: 13px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #a8a8a825;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}